button {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.9);
  font-size: 16px;
  line-height: 16px;
}
